@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './var.css';
@import "../public/icons/iconfont.css";

body {
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-size: var(--size-16);
    background-color: var(--gray-10);
    transition: all 0.5s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

img {
    padding: 0;
    margin: 0;
    display: block;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

input,textarea {
    outline: none;
}